    @model applicationmvc.Models.Order

    @{
        ViewData["Title"] = "Details";
    }
    
    <div>
        <h1>Детали заказа</h1>
        <a asp-action="Index">Вернуться</a>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OrderNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OrderNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OrderDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OrderDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OrderSum)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OrderSum)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Store)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Store.StoreName)
            </dd>
        </dl>
    </div>

    <div>
        <h4>Товары в заказе</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Название товара</th>
                    <th>Цена</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var productOrder in Model.ProductOrders)
                {
                    <tr>
                        <td>@productOrder.Product.Name</td>
                        <td>@productOrder.Product.Price</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
