@model applicationmvc.Models.Product

@{
    ViewData["Title"] = "Детали";
}

<div>
    <h4>Детали товара</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCategory.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.SupplierName)
        </dd>
    </dl>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.ProductId">Редактировать</a>
        <span class="separator">|</span>
        <a asp-action="Index">Вернуться</a>
    </div>
}
else
{
    <div>
        <a asp-action="Index">Вернуться</a>
    </div>
}
